.container {
  display: flex;
  padding: 120px;
  flex-direction: row;
  min-height: 100vh;
  gap: 100px;
  background-color: var(--background-secondary);
}

.leftContent {
  width: 50%;
}

.image {
  border-radius: 10px;
  object-fit: cover;
}

.title {
  font-size: 18px;
  font-family: var(--font-cinzel);
  color: var(--color-tertiary);
  letter-spacing: 0.42em;
}

.container h1 {
  font-size: 52px;
  font-family: var(--font-playfair-display);
  margin-top: -15px;
  margin-bottom: 40px;
}

.description {
  font-size: 18px;
  font-family: var(--font-roboto);
  width: 50%;
  line-height: 1.7;
}

.cardboard {
  display: flex;
  margin-top: 40px;
  align-items: stretch;
  width: 75%;
  background-color: var(--background-primary);
  flex-direction: row;
}

.verticalLine {
  width: 5px;
  align-self: stretch;
  background-color: var(--color-tertiary);
  margin-right: 25px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.cardContent span {
  font-size: 18px;
  font-style: italic;
}

.cardContent p {
  color: var(--color-tertiary);
  font-size: 14px;
  font-family: var(--font-cinzel);
  margin-top: 10px;
  letter-spacing: 0.1em;
}
